@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    position: relative;
    height:100vh;
}

.game_container{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    height:20em;
    width:100vw;
    overflow-x:hidden;
    position:relative;
    background-color:blue;
}

.back_slider{
    position:absolute;
    width:200%;
    height:30px;
    background-color:#555;
    background-image:repeating-linear-gradient(to right, #555 0px , #777 20px, #555 40px);
    bottom:0;
}
.cactus_container{
    position: relative;
    width:100vw;
}
.cactus{
    width:30px;
    background-color:red;
    position:absolute; 
    bottom:30px;
    right:-30px;
    animation: cactus 4s linear infinite;
}

.lordicon{
    position:absolute;
    bottom:11px;
    left: 50px;
    transition:all 1s;
}

.btn_container{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:3em;
    display:flex;
    align-items: center;
    grid-gap:2em;
}

.btn_container > *{
    padding:10px 30px;
    color:white;
    font-weight:bolder;
    border-radius:10px;
    border:none;
    background-color:blue;
    transition:all 0.5s;
    width: max-content;
}

.btn_container > *:disabled{
    background-color: rgba(0, 0, 255, 0.411);
}

.val{
    display:flex;
    align-items:center;
    grid-gap:20px;
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%);
}

.message{
    position:absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);
    font-size:40px;
    color:red;
    display:flex;
    align-items:center;
    grid-gap:20px;
    display:none;
    width:max-content;
}

.message i{
    color:white;
}


@keyframes cactus {
    to{
        right:100vw;
    }
}
@keyframes back {
    to{
        transform:translateX(20%);
    }
}
